using  VIPProgramAssessment.Models;

@model VIPProgramAssessment.ViewModels.ProductDetailsViewModel


@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-5">
            <img src=@("/" + ViewBag.ImageName) alt="winter jacket" width="200" height="200" />
        </div>
        <div class="col-md-5">

            <div class="hidden">
                @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <h4>@ViewBag.ProductName</h4>
            <h4>@ViewBag.ProductPrice</h4>

            @foreach (var lItem in Model.SizeList)
            {
                @Html.RadioButtonFor(m => m.SizeId, lItem.Id) @lItem.Size

            }
            <br />
            @foreach (var lItem in Model.ColorList)
            {
                @Html.RadioButtonFor(m => m.ColorId, lItem.Id) @lItem.Color

            }

            <div >
                
                    <input type="submit" value="Add To Cart" class="btn btn-primary" />
                    
            </div>
        </div>

    </div>



@*<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />&nbsp;&nbsp;
            @Html.ActionLink("Register", "Register")
        </div>
    </div>
</div>*@
}



